<section class="tab_navbar center-align navbar_footer">
	<div class="row">
		<div class="col s12 tabs_col">
			<ul>
				<li class="col s2 push-s2 underline tooltipped" data-position="top" data-delay="50" data-tooltip="Home">
					<a href="/welcome">
						<img src="../../img/icon/icon_app/home.svg" alt="home">
					</a>
				</li>
				<li class="tab col s2 push-s2 underline tooltipped" data-position="top" data-delay="50" data-tooltip="Buscar estudiantes">
					<a href="/search">
						<img src="../../img/icon/icon_app/search.svg" alt="search">
					</a>
				</li>
				<li class="tab col s2 push-s2 underline tooltipped" data-position="top" data-delay="50" data-tooltip="Introducir estudiantes en el sistema">
					<a href="/input-person">
						<img src="../../img/icon/icon_app/edit.svg" alt="edit">
					</a>
				</li>
				<li class="tab col s2 push-s2 underline tooltipped" data-position="top" data-delay="50" data-tooltip="¡Conocenos!">
					<a href="/team">
						<img src="../../img/icon/icon_app/award.svg" alt="award">
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
