<% include  %>
<section class="team_main">
	<h4 >Grupo | Aplicación final para la materia Ing. de Software</h4>
	<div class="row">
		<div class="col s12 m12 l12 valign-wrapper">
			<img class="responsive-img circle team" src="../../img/team/yank-redondo.png" alt="yank carlos">
			<h6 class="info_team">
				<b>Nombre</b>
				<p>Yank Carlos R. Espinal</p>
			</h6>
			<h6 class="info_team">
				<b>Matrícula</b>
				<p>14-MISN-2-016</p>
			</h6>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col s12 m12 l12 valign-wrapper">
			<img class="responsive-img circle team" src="../../img/team/yank-redondo.png" alt="yank carlos">
			<h6 class="info_team">
				<b>Nombre</b>
				<p>Yank Carlos R. Espinal</p>
			</h6>
			<h6 class="info_team">
				<b>Matrícula</b>
				<p>14-MISN-2-016</p>
			</h6>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col s12 m12 l12 valign-wrapper">
			<img class="responsive-img circle team" src="../../img/team/yank-redondo.png" alt="yank carlos">
			<h6 class="info_team">
				<b>Nombre</b>
				<p>Yank Carlos R. Espinal</p>
			</h6>
			<h6 class="info_team">
				<b>Matrícula</b>
				<p>14-MISN-2-016</p>
			</h6>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col s12 m12 l12 valign-wrapper">
			<img class="responsive-img circle team" src="../../img/team/yank-redondo.png" alt="yank carlos">
			<h6 class="info_team">
				<b>Nombre</b>
				<p>Yank Carlos R. Espinal</p>
			</h6>
			<h6 class="info_team">
				<b>Matrícula</b>
				<p>14-MISN-2-016</p>
			</h6>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col s12 m12 l12 valign-wrapper">
			<img class="responsive-img circle team" src="../../img/team/yank-redondo.png" alt="yank carlos">
			<h6 class="info_team">
				<b>Nombre</b>
				<p>Yank Carlos R. Espinal</p>
			</h6>
			<h6 class="info_team">
				<b>Matrícula</b>
				<p>14-MISN-2-016</p>
			</h6>
		</div>
	</div>
	<hr />
</section>
