		<section class="center-align section_bienvenido_home">
			<div class="loader"></div>
			<div id="main-info">
				<div class="row">
					<div class="col s12 m12 l12">
						<h1 class="bienvenido_home">Bienvenido</h1>
					</div>
				</div>
				<div class="row">
					<div class="col s10 m10 l10 push-s1 push-m1 push-l1">
						<p class="parr_content_home">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id iste, magnam, totam repellendus et neque libero explicabo
							officia est ullam quaerat, modi ipsa sapiente aspernatur quam nemo illum itaque maxime? Lorem Lorem Lorem, ipsum dolor
							sit amet consectetur adipisicing elit. Unde earum sint est dolor illum deleniti culpa quam officia dolorem dolores consequatur
							facere inventore sit, magnam tenetur nemo natus, corporis tempore.
						</p>
					</div>
				</div>

				<div class="row center-align content_img_text">
					<div class="col s4">
						<img class="responsive-img img_welcome" src="../../img/images/rectangle.png" alt="rectangle">
					</div>
					<div class="col s4">
						<img class="responsive-img img_welcome" src="../../img/images/circle.png" alt="rectangle">
					</div>
					<div class="col s4">
						<img class="responsive-img img_welcome" src="../../img/images/scuare.png" alt="rectangle">
					</div>
				</div>

				<div class="row center-align content_img_text col_img">
					<div class="col s4">
						<h4 class="title_img">Lorem</h4>
						<h6 class="subtitle_img">Unde earum sint est dolor illum deleniti culpa quam officia dolorem dolores consequatur
							facere inventore sit, magnam tenetur nemo natus, corporis tempore.</h6>
					</div>
					<div class="col s4">
						<h4 class="title_img">Lorem</h4>
						<h6 class="subtitle_img">Unde earum sint est dolor illum deleniti culpa quam officia dolorem dolores consequatur
							facere inventore sit, magnam tenetur nemo natus, corporis tempore.</h6>
					</div>
					<div class="col s4">
						<h4 class="title_img">Lorem</h4>
						<h6 class="subtitle_img">Unde earum sint est dolor illum deleniti culpa quam officia dolorem dolores consequatur
							facere inventore sit, magnam tenetur nemo natus, corporis tempore.</h6>
					</div>
				</div>
			</div>
		</section>