<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>
	<body>
		<% include partials/header %>
		<% include partials/navbar %>
        <section class="team_main">
            <h4 class="titleTeam center-align">Equipo de Desarrollo</h4>
            <div class="row">
                <div class="col s12 m12 l12 valign-wrapper">
                    <img class="responsive-img circle team" src="../../img/team/yank-redondo.png" alt="yank carlos">
                    <h6 class="info_team">
                        <b>Nombre</b>
                        <p>Yank Carlos R. Espinal</p>
                    </h6>
                    <h6 class="info_team">
                        <b>Matrícula</b>
                        <p>14-MISN-2-016</p>
                    </h6>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col s12 m12 l12 valign-wrapper">
                    <img class="responsive-img circle team" src="../../img/team/raudin.png" alt="Raudin Moreno">
                    <h6 class="info_team">
                        <b>Nombre</b>
                        <p>Raudin Moreno</p>
                    </h6>
                    <h6 class="info_team">
                        <b>Matrícula</b>
                        <p>14-MISN-2-020</p>
                    </h6>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col s12 m12 l12 valign-wrapper">
                    <img class="responsive-img circle team" src="../../img/team/azarias.jpeg" alt="yank carlos">
                    <h6 class="info_team">
                        <b>Nombre</b>
                        <p>Azarías Federico M. Sigarán</p>
                    </h6>
                    <h6 class="info_team">
                        <b>Matrícula</b>
                        <p>14-MISN-2-022</p>
                    </h6>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col s12 m12 l12 valign-wrapper">
                    <img class="responsive-img circle team" src="../../img/team/yank-redondo.png" alt="yank carlos">
                    <h6 class="info_team">
                        <b>Nombre</b>
                        <p>Reyna Moreta</p>
                    </h6>
                    <h6 class="info_team">
                        <b>Matrícula</b>
                        <p>14-EIST-2-009</p>
                    </h6>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col s12 m12 l12 valign-wrapper">
                    <img class="responsive-img circle team" src="../../img/team/yank-redondo.png" alt="yank carlos">
                    <h6 class="info_team">
                        <b>Nombre</b>
                        <p>Santiago Acosta Gerbacio</p>
                    </h6>
                    <h6 class="info_team">
                        <b>Matrícula</b>
                        <p>14-MISN-2-009</p>
                    </h6>
                </div>
            </div>
            <hr />
        </section>
		<% include partials/scripts %>
	</body>
</html>
