<nav class="search_person z-depth-0 hoverable">
	<div class="row">
		<div class="col s11 push-s2">
			<div class="nav-wrapper">
				<form method='post' action='/showDatos'>
					<div class="input-field">
						<input name="buscar" id="buscar" type="search" placeholder="Buscar estudiante" required maxlength="30" class="capi">
						<label class="label-icon" for="search">
							<i class="material-icons icon_search">
								<img class="searchIcon" id="icon_btn" src="../../img/icon/icon_app/search.svg" alt="search-person">
							</i>
						</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>
