<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/head %>
</head>

<body>
	<% include partials/header %>
		<% include partials/navbar %>

			<section class="datosEB">
				<div class="row">
					<div class="col s11 m11 l11 push-s1 push-m1 push-l1">
						<h4 class="title_form">Datos Personales del estudiante</h4>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<form class="col s12 m12 l12" method='post' action='/input-person'>
							<div class="row">
								<div class="col s12 m12 l12">
									<h6>Datos básicos</h6>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s4">
									<input id="nombreInput" type="text" class="validate" name="nombre" required class="capi">
									<label for="nombreInput">Nombre</label>
								</div>
								<div class="input-field col s4">
									<input id="apellido" type="text" class="validate" name="apellido" required class="capi">
									<label for="apellido">Apellido</label>
								</div>
								<div class="input-field col s1">
									<input id="sangre" type="text" class="validate" name="sangre" required class="capi">
									<label for="sangre">TS</label>
								</div>
								<div class="input-field col s3 file-field input-field">
									<div class="btn">
										<span>File</span>
										<input type="file">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text" placeholder="Imagen" name="imagen">
									</div>
								</div>
							</div>

							<!-- Datos personales -->
							<div class="row">
								<div class="input-field col s4">
									<input id="fechaN" type="text" class="validate" placeholder="10/02/1990" name="fNaC" required class="capi">
									<label for="fechaN">Fecha de nacimiento</label>
								</div>
								<div class="input-field col s4">
									<input id="edad" type="text" class="validate" name="edad" required>
									<label for="edad">Edad</label>
								</div>
								<div class="input-field col s4">
									<input id="nacionalidad" type="text" class="validate" name="nacionalidad" required class="capi">
									<label for="nacionalidad">Nacionalidad</label>
								</div>
								<div class="input-field col s4">
									<input id="lugarN" type="text" class="validate" name="lugarNac" required class="capi">
									<label for="lugarNac">Lugar de nacimiento</label>
								</div>
								<div class="input-field col s4">
									<input id="residencia" type="text" class="validate" name="residencia" required class="capi">
									<label for="residencia">Residencia</label>
								</div>
								<div class="input-field col s2">
									<input id="celular" type="text" class="validate" placeholder="Célular" name="celular" required>
									<label for="celular">Número Teléfonico</label>
								</div>
								<div class="input-field col s2">
									<input id="numTel" type="text" class="validate" placeholder="Residencia" name="numTel">
									<label for="numTel">Número Teléfonico</label>
								</div>
							</div>



							<div class="row">
								<div class="col s11 m11 l11">
									<h4 class="title_form">Datos del estudiante por parte de la institución</h4>
								</div>
							</div>

							<div class="row">
								<div class="row">
									<div class="col s12 m12 l12">
										<h6>Datos Por parte de la institución</h6>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s4">
										<input id="mat" type="text" class="validate" name="mat" required class="mayus">
										<label for="nmat">Matrícula</label>
									</div>
									<div class="input-field col s4">
										<input id="estadoCivil" type="text" class="validate" name="estadoCivil" required class="capi">
										<label for="estadoCivil">Estado Cívil</label>
									</div>
									<div class="input-field col s4">
										<input id="gen" type="text" class="validate" name="gen" required class="capi">
										<label for="gen">Genero</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s4">
										<input id="carrera" type="text" class="validate" name="carrera" required class="capi">
										<label for="carrera">Carrera</label>
									</div>
									<div class="input-field col s4">
										<input id="materiasC" type="text" class="validate" name="materiasC" required class="capi">
										<label for="materiasC">Materias cursando</label>
									</div>
									<div class="input-field col s4">
										<input id="tanda" type="text" class="validate" name="tanda" required class="mayus">
										<label for="tanda">Tanda</label>
									</div>
									<div class="input-field col s4">
										<input id="estado" type="text" class="validate" name="estado" required class="capi">
										<label for="estado">Estado</label>
									</div>
								</div>
								<div class="col s12 m12 l12 right-align">
									<button class="btn waves-effect btn_submit" type="submit" name="action" onclick="Materialize.toast('Datos introducido exítosamente', 1000)">Introducir datos
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
			<% include partials/scripts %>
</body>

</html>
